{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New contact information{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="phone">Phone</label>
    <input name="phone" id="phone">{{ request.form['phone'] }}</input>
    <label for="email">Email</label>
    <input name="email" id="email">{{ request.form['email'] }}</input>
    <input id="add" name="add" type="submit" value="Add">
  </form>

{% endblock %}